# Such that only explicitly unignored files will be kept
/**

# Meta and build
!/Makefile
!/README.md
!/.gitignore
!/.gitattributes
!/.clang-format

# Source
!/src
!/src/**

# Example
!/example
!/example/**
